/**This CSS File describes the style of the otp component
* @author S.Swetha, Shruti Sunil Mayekar 
* @version 12.0.2
**/

* {
    padding: 0%;
    margin: auto;
    box-sizing: border-box;
}

.otp {
    width: 30vw;
    margin: 37px auto;
}

.card {
    height: 25%;
}

.card-header {
    background-color: #001526;
    color: white;
}

.btn {
    background-color: #001526;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 500;
}

img {
    width: 150px;
}

.form-control {
    border: 1px solid #001526!important;
}