/**This CSS File describes the header of page
* @author Varsha Vaitla, Surya Alapati
* @version 12.0.2
**/

nav{
    background-color: #001526; 
    color: aliceblue;
}

.navbar-brand img{
    width: 150px;
    height: 105px;
}