<!--This HTML file describes the Admin Dashboard Feilds
 @author S.Swetha, Shruti Sunil Mayekar 
 @version 12.0.2
-->

<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <a class="navbar-brand" href="#">Admin Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin-list">List Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin-add">Add Product</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/bymodelno">Search Product</a>
            </li>
        </ul>

    </div>
</nav>