/**This CSS File describes the sytle for spinner 
* @author Varsha Vaitla, Surya Alapati
* @version 12.0.2
**/

.spinner-overlay {
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	background-color: rgba(0,0,0,0.5);
}

.spinner-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}