/**This CSS File describes the style of the success component
* @author S.Swetha, Shruti Sunil Mayekar 
* @version 12.0.2
**/

.block {
    width: 100vw;
    overflow-x: hidden;
}

.checkboxcontainer {
    position: relative;
    height: 15%;
    margin-top: 2%;
}

.checkboxcontainer .checkmark {
    display: inline-block;
	position: relative;
    width: 75px;
    height: 75px;
    background: #008000;
    border-color: #83833F;
    border-radius: 50%;
    top: 0;
	left: 50%;
    transform: translate(-50%);
    box-shadow: 0px 5px 5px 0 #82e661 inset, 0px 5px 5px 0 #aae597, 0px 5px 5px 0 #aae597 inset, 0px 5px 5px 0 #aae597;
}

.checkboxcontainer .checkmark:after {
    content: "";
    position: absolute;
    height: 17px;
    width: 38px;
    border-left: 6px solid white;
    border-bottom: 6px solid white;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-42deg);
}

.order {
    align-items: center;
    justify-content: center;
    font-size: 3.1rem;
    color: #0b960b;
    text-align: center;
    letter-spacing: 1px;
    font-family: 'Merriweather', serif;
}

.box {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 13px;
    padding: 11px;
}

.we {
    font-size: 1.3rem;
    padding-top: 10px;
    padding-bottom: 4px;
    font-family: 'Ubuntu', sans-serif;
}

hr.solid {
    border-top: 1px solid #bbb;
}

.grey {
    padding-top: 5px;
    padding-bottom: 5px;
	display: flex;
}

.grey1 {
    padding-left: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.grey * {
    padding-right: 14px;
	width: 50%;
}

.grey strong {
	text-align: end;
}

.grey span {
	text-align: start;
}

.column {
    padding-top: 9px;
    padding-bottom: 9px;
    flex: 50%;
    text-align: right;
    justify-content: right;
    align-items: right;
    font-weight: 800;
    font-size: 18px;
    font-family: 'Bitter', serif;
}

.column1 {
    font-family: 'Bitter', serif;
    padding-top: 9px;
    flex: 50%;
    text-align: left;
    justify-content: left;
    align-items: left;
    font-weight: 100;
    font-size: 18px;
}

.email {
    margin-top: 11px;
    margin-bottom: 10px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}

.box .email span{
    font-size: 18px;
    color: darkblue;
}

.id {
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 22px;
    margin: 7px;
    font-family: 'Bitter', serif;
    font-weight: 600;
    padding: 5px;
}

.button {
    background:darkgreen;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 41px;
    padding-right: 41px;
    font-weight: 500;
    font-size: 21px;
    margin-top: 21px;
    border-radius: 4px;
    list-style: none;
    text-decoration: none;
}

.p {
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 19px;
    margin: 7px;
    font-family: 'PT Serif', serif;
    font-weight: 600;
    padding: 5px;
}

.order-details {
	width: 50%;
	margin: auto;
}
@media (max-width: 700px) {
    .order {
        font-size: 1.2rem;
        align-items: center;
        justify-content: center;
    }
    .id {
        font-size: 0.9rem;
    }
    .we {
        font-size: 0.9rem;
        margin-right: 2px;
    }
    .column {
        font-size: 0.7rem;
    }
    .column1 {
        font-size: 0.7rem;
    }
    .email {
        font-size: 0.9rem;
    }
    span {
        font-size: 1.1rem;
    }
    .checkboxcontainer {
        left: 40%;
        margin-top: 6%;
        margin-bottom: 6%;
    }
    .button {
        font-size: 15px;
        padding-top: 11px;
        padding-bottom: 4px;
        padding-left: 14px;
        padding-right: 14px;
    }
}