/* Colour Pallette----------------
    primary-colour: #008793
    secondary-colour: #004d7a
    tertiary-colour: #252729
    highlighting-colour: #930c00
    effect-colour: #253e52
    background-colour: #292725


    To change the colours find and replace the required colour codes with new set
*/


/* Fonts Pallette------------------
*/


/* CSS Starts here ----------------
*/
