/**This CSS File describes the style of the email-phone component
* @author Varsha Vaitla, Surya Alapati
* @version 12.0.2
**/

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.email-phone {
    height: 35 vh;
    width: 26vw;
    margin: 37px auto;
}

.card {
    height: 25%;
}

.card h2 {
    font-size: 1rem;
    padding: 8px 0;
}

.card-header {
    background-color: #001526;
    color: white;
    height: 230px;
}

.card-header h5 {
    margin-top: 7%;
    letter-spacing: 2px;
}

.btn {
    background-color: #001526;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 500;
}

img {
    width: 130px;
}