<!-- This File describes style for footer
* @author Varsh Vaitla, Surya Alapati
* @version 12.0.2
-->

<!-- Footer -->
    <footer class="text-center text-lg-start bg-customcolor text-muted">
        <!-- Section: Social media -->
        <section
          class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
        >
          <!-- Left -->
          <div class="me-5 d-none d-lg-block " style="color: whitesmoke;">
            Get connected with us on social networks:
          </div>
          <!-- Left -->
      
          <!-- Right -->
          <div >
    
            <a href="" class="mx-1 text-reset text-deco" >
               <span class="text-color"> <i class="bi bi-facebook mr-1" aria-hidden="true"></i></span>
            </a>
            <a href="" class="mx-1 text-reset text-deco" >
                <span class="text-color"> <i class="bi bi-whatsapp mr-1" aria-hidden="true"></i></span>
            </a>
            <a href="" class="mx-1 text-reset text-deco" >
                <span class="text-color"> <i class="bi bi-twitter mr-1" aria-hidden="true"></i></span>
            </a>
            <a href="" class="mx-1 text-reset text-deco" >
                <span class="text-color"> <i class="bi bi-instagram mr-1" aria-hidden="true"></i></span>
            </a>
            <a href="" class="mx-1 text-reset text-deco" >
                <span class="text-color"> <i class="bi bi-telegram mr-1" aria-hidden="true"></i></span>
            </a>
            <a href="" class="mx-1 text-reset text-deco" >
                <span class="text-color"> <i class="bi bi-github mr-1" aria-hidden="true"></i></span>
            </a>
            
          </div>
          <!-- Right -->
        </section>
        <!-- Section: Social media -->
      
        <!-- Section: Links  -->
        <section class="">
          <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
    
                <!-- Grid column -->
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4 " style="color: whitesmoke;">
                  Customer Service
                </h6>
                <p>
                  <a href="#!" class="text-reset text-deco"><span class="text-color">Payment Options</span></a>
                </p>
                <p>
                  <a href="#!" class="text-reset text-deco"><span class="text-color">Track Order</span></a>
                </p>
                <p>
                  <a href="#!" class="text-reset text-deco"><span class="text-color">Encircle Program</span></a>
                </p>
              </div>
              <!-- Grid column -->
    
              <!-- Grid column -->
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4 " style="color: whitesmoke;">
                  Policies
                </h6>
                <p>
                  <a href="#!" class="text-reset text-deco"><span class="text-color">Returns & Exchanges</span></a>
                </p>
                <p>
                  <a href="#!" class="text-reset text-deco"><span class="text-color">Cancellation</span></a>
                </p>
                <p>
                  <a href="#!" class="text-reset text-deco"><span class="text-color">Shipping</span></a>
                </p>
                <p>
                  <a href="#!" class="text-reset text-deco"><span class="text-color">Delivery Information</span></a>
                </p>
              </div>
              <!-- Grid column -->
    
              <!-- Grid column -->
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4 " style="color: whitesmoke;">
                  Useful links
                </h6>
                <p>
                  <a [routerLink]="['/home']" class="text-reset text-deco"><span class="text-color">Home</span></a>
                </p>
                <p>
                  <a [routerLink]="['/login']" class="text-reset text-deco"><span class="text-color">Login</span></a>
                </p>
                <p>
                  <a [routerLink]="['/cart']" class="text-reset text-deco"><span class="text-color">Cart</span></a>
                </p>
                <p>
                  <a href="!#" class="text-reset text-deco"><span class="text-color">Help</span></a>
                </p>
              </div>
              <!-- Grid column -->
    
              <!-- Grid column -->
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4 " style="color: whitesmoke;">
                  Contact Us
                </h6>
                <p> <span class="text-color"><i class="bi bi-geo-alt-fill me-3 mr-1"></i> New York, NY 10012, US</span></p>
                <p>
                    <span class="text-color"><i class="bi bi-envelope-fill me-3 mr-1"></i>100perscent@gmail.com</span>
                </p>
                <p> <span class="text-color"><i class="bi bi-telephone-fill me-3 mr-1"></i> + 01 234 567 88</span></p>
                <p> <span class="text-color"><i class="bi bi-printer-fill me-3 mr-1"></i> + 01 234 567 89</span></p>
              </div>
              <!-- Grid column -->
    
            </div>
            <!-- Grid row -->
          </div>
        </section>
        <!-- Section: Links  -->
      
        <!-- Copyright rgba(0, 0, 0, 0.05); -->
        <div class="text-center p-4" style="background-color: #de6751; color: aliceblue;">
            © 2021 100 Per Scent Limited. All rights reserved.
        </div>
        <!-- Copyright -->

    </footer>
<!-- Footer -->
    
